.pagBtn {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}

.pagBtn:hover {
    background-color: var(--orange00) !important;
    border-color: var(--orange00) !important;
    color: var(--white-color);
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

@media (max-width: 992px) {
    .pagBtn {
        width: 30px;
        height: 30px;
    }   
    
}

