.upload-box {
  width: 100px;
  height: 100px;
  border: 2px dashed #cbd5e0;
  background-color: #f9f9ff;
   cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.upload-preview {
  overflow: hidden;
  height: 100%;
}

.upload-box:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}