@media (max-width: 992px) {
    .title-logo {
        width: 90px ;
        height: 25px ;
    }

    .title-heading {
        font-size: 14px !important;
    }

    .title-subheading {
        font-size: 10px !important;
    }

    .signup-input{
        height: 32px !important;
    }

        .signup-input:placeholder{
        height: 32px !important;
    }
}