.SignUpform {
  padding: 40px 20px 20px 31px !important;
  width: 33.055556%;
  max-width: 476px;
  min-width: 375px;
}

.row>* {
  padding-left: 0 !important;
}

@media (max-width: 992px) {
  .SignUpform {
    min-width: 300px;
    padding: 20px 15px 10px 20px !important;
  }

  .SignUplabel {
    font-size: 10px !important;
  }
}